// Stiziles
html, body {
  background: white;
}

.calculator {
  height: 00;
  background: blue;
}
.screen {
  background-color: #e3b885;
  color: #190d08;
  font-size: 50px;
  padding: 5px 5px;
  text-align: center;
  font-weight: lighter;
}

.formulae {
  background-color: #4c4c4c;
  padding: 5px 5px;
  text-align: right;
  font-weight: lighter;
  min-height: 18px;
}
.highlight {
  transform: scale(0.9);
}

.group {
  padding: 7px 8px 8px 8px;
  font-size: 14px;
  border-radius: 12px;
  margin: 0 3px;
}

.key {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0;
  font-weight: lighter;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  transition: all 0.2s;
}

.key-action {
  width: 50%;
  padding: 20px;
}
.action {
  border-radius: 10px;
  padding: 10px 0;
}
.action.back {
  color: #d68086;
  border: 1px solid #d68086;
}
.action.equal {
  color: #9ed8a6;
  border: 1px solid #9ed8a6;
}
